  <table class="table">
    <% person.versions.each do |version| %>
      <tr>
        <td><%= t version.event %></td>
        <td span="3"><%= l version.created_at %></td>
      </tr>
      <% version.changeset.each do |change| %>
        <tr>
          <td></td>
          <td><%= t change[0], scope: 'simple_form.Person' %></td>
          <td><%= l change[1][0] %></td>
          <td>=></td>
          <td><%= l change[1][1] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

