  <table class="table">
    <% @data.each do |version| %>
      <tr>
        <td><%= t version.event %></td>
        <td colspan="4">am: <%= l version.created_at, format: :short %>
                     von: <%= find_version_author_name(version) %></td>
      </tr>
      <% version.changeset.each do |change| %>
        <tr>
          <td></td>
          <td><%= t change[0], scope: 'simple_form.Person' %></td>
          <td><%= change[1][0] %></td>
          <td>=></td>
          <td><%= change[1][1] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

<div>
  <%= paginate @data %>
</div>

