<tr>
  <%= inline_form :person, url: people_path, method: :get  do |f| %>
    <td><%= f.input :id,        placeholder: "PID"  %></td>
    <td><%= f.input :lastname,  placeholder: "Lastname"  %></td>
    <td><%= f.input :country,   placeholder: "Country", inline_label: "Country", input_html: { width: "50px" }  %></td>
    <td><%= f.input :zip,       placeholder: "ZIP" %></td>
    <td><%= f.input :city,      placeholder: "City" %></td>
    <td colspan="3"><%= f.button :submit, "Search", class: 'form-control btn-primary' %></td>
  <% end %>
</tr>
