<div class="row">
<% show_object @person, only: controller.class::VISIBLE_ATTRIBUTES %>
<%= horizontal_form @person, readonly: true do |f| %>
  <div class="col-md-6">

  <%= f.input :id %>
  <%= f.input :title %>
  <%= f.input :sex, collection: Person.sex.options %>
  <%= f.input :firstname %>
  <%= f.input :callby %>
  <%= f.input :lastname  %>
  <%= f.input :birthday, as: :string %>
  <%= f.input :country, priority_countries: ["GB", "FR", "DE"] %>
  <%= f.input :zip %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :housenumber %>
  </div>

  <div class="col-md-6">
  <%= f.input :phone_private %>
  <%= f.input :phone_work %>
  <%= f.input :phone_mobile %>

  <%= f.input :state %>
  <%= f.input :date %>

  <%= f.input :do_not_contact, as: :boolean %>

  <%= f.input :ooa_es,  as: :boolean %>
  <%= f.input :ooa_sem, as: :boolean %>
  <%= f.input :region, collection: Region.all %>
  </div>

<% end %>

</div>

<div>
  <%= link_to I18n.t(:edit), edit_person_path(@person), {class: "btn btn-default"} %>
</div>
