
<table class="table">
  <% @data.each do |assignment| %>
    <tr>
      <td><%= assignment.group %></td>
      <td><%= assignment.role_type %></td>
      <td><%= link_to 'Show', assignment %></td>
      <td><%= link_to 'Edit', edit__person_team_assignment_path(assignment) %></td>
      <td><%= link_to 'Remove', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>
</table>

<div>
  <%= paginate @data %>
</div>

<div>
  <%= link_to 'Assign to team', new_person_team_assignment_path(person: person), {class: "btn btn-default"} %>
</div>
