<div class="container">
  <div class="row">
    <h3>Persons</h3>
    <div class="row">
      <%= inline_form :search, url: people_path, method: :get  do |f| %>
        <%= f.input :lastname, placeholder: "Lastname"  %>        
        <%= f.input :country, placeholder: "Country", inline_label: "Country", input_html: { width: "100px" }  %>
        <%= f.input :zip, placeholder: "ZIP" %> 
        <%= f.input :city, placeholder: "City" %> 
        <%= f.button :submit, "Search" %>         
  
      <% end %>
      
    </div>
    
    
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Country</th>
            <th>ZIP</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <% @persons.each do |person| %>
            <tr>
              <td><%= person.id %></td>
              <td><%= person.fullname %></td>
              <td><%= person.country %></td>
              <td><%= person.zip %></td>
              <td><%= person.city %></td>
              <td><%= link_to 'Show', person %></td>
              <td><%= link_to 'Edit', edit_person_path(person) %></td>
              <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <%= link_to 'Add Person', new_person_path %>
  </div>
</div>
