<p id="notice"><%= notice %></p>

<h1>Listing Group Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_types.each do |team_type| %>
      <tr>
        <td><%= team_type.code %></td>
        <td><%= team_type.description %></td>
        <td><%# link_to 'Show', team_type %></td>
        <td><%= link_to 'Edit', edit_team_type_path(team_type) %></td>
        <td><%= link_to 'Destroy', team_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group type', new_team_type_path %>
