<div class="col-sm-5">
  <h3>Assignments</h3>
  
  <table class="table">
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.person %></td>
        <td><%= assignment.role_type %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Remove', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </table>
  
  <%# link_to 'Assign to course', new_role_path(person: @person), {class: "btn btn-default"} %>
</div>  
