<div  class="col-sm-5">
  <h3>Course Information</h3>
   
  <%= horizontal_form @event do |f| %>
    <%= f.association :event_type %>
    <%= f.input :eid, readonly: true %>
    <%= f.input :shortname %>
    <%= f.input :location %>
    <%= f.input :startdate, :include_blank => true %>
    <%= f.input :enddate,   :include_blank => true %>
    <%= f.input :state %>
    <%= f.button :submit %>
  <% end %>
</div>
