<div  class="col-sm-5">
  <h3>Course Information</h3>
  
  <%= horizontal_form @event, readonly: true do |f| %>
    <%= f.association :event_type %>
    <%= f.input :eid %>
    <%= f.input :shortname %>
    <%= f.input :location %>
    <%= f.input :startdate %>
    <%= f.input :enddate %>
    <%= f.input :state %>
  <% end %>

  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Back', events_path %>
</div>

<%= render "assignments" %>