<div  class="col-sm-5">
    <%= bettertabs_bootstrap :person do |tab| %>
      <%= tab.ajax :event do  %> 
        <%= show_object @event, only: controller.class::VISIBLE_ATTRIBUTES %>
        <div class="col-sm-5">
          <%= link_to 'Edit', edit_event_path(@event), {class: "btn btn-default"} %>
          <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>    
</div>

  <div class="col-sm-5">
    <div class="tabbable">
      <%= bettertabs_bootstrap :event_tabs do |tab|
        tab.ajax :attendees,  locals: { object: @event.attendees }
        tab.ajax :assistants, locals: { object: @event.assistants }
      end
      %>
    </div>
  </div>  
</div>
