<div class="row">

    <h2>ImportJob <%= "#{@import}" %></h2>

    <div class="column">


        <%  @import.import_step.each do |step| %>
            <div class="row">
            <div class="column">
                <h3><%= "#{step.description}" %></h3>
            </div>
            <div class="column">
                <%= if step.totalrows.to_i>0 then link_to "Total Rows: #{step.totalrows}", import_job_path(@import, :step => step.id, :rows => :all) end %>
                <%= if step.validrows.to_i>0 then link_to "Valid Rows: #{step.validrows}", import_job_path(@import, :step => step.id, :rows => :valid) end %>
                <%= if step.errorrows.to_i>0 then link_to "Error Rows: #{step.errorrows}", import_job_path(@import, :step => step.id, :rows => :error) end %>
                <%= if step.errortext then "Errors: #{step.errortext}" end %>
            </div>
            </div>

            <% step.import_rows(@scope_step, @scope_rows).each do |row| %>
                <div class="row">
                    <%= row.to_html.html_safe %>
                </div><br>
            <% end %>
        <% end %>

      <%= link_to "Refresh", import_job_path(@import) %>

    </div>

</div>
